<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a collab</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../angular-hbp-collaboratory.css" />
    <!-- endbower -->

    <link rel="stylesheet" type="text/css" href="../bower_components/codemirror/lib/codemirror.css">
  </head>
  <body>
    <div class="container-fluid" ng-controller="CollabConfigurationController as vm">
      <h1 class="page_head">Create a custom Collab</h1>
      <form class="form" ng-submit="vm.handleSubmit($event)">
        <div class="form-group">
          <label>Collab Configuration:</label>
          <textarea class="form-control" name="name" rows="30" cols="80"
                    ng-model="vm.configJson"
                    ui-codemirror></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Create Collab</button>
      </form>
      <div ng-if="vm.error" class="row" ng-cloak>
        <div class="col-md-6">
          <img src="https://placebear.com/500/500" alt="Error Image" />
        </div>
        <div class="col-md-6">
          An error occured:
          <pre>{{vm.error | json}}</pre>
        </div>
      </div>
    </div>
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-uuid4/angular-uuid4.js"></script>
    <script src="../bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular-moment/angular-moment.js"></script>
    <script src="../bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="../angular-hbp-collaboratory.js"></script>
    <!-- endbower -->

    <script type="text/javascript" src="../bower_components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
