Django>=1.11,<3
pytz
jsonfield
django-tastypie
django-sslserver  # dev only
psycopg2          # dev only - installed as Debian package in Docker image
numpy             # dev only - installed as Debian package in Docker image
django-taggit
social-auth-app-django
pyyaml
django-cors-headers
ebrains_drive