django-sslserver==0.20
django-tastypie==0.14.2
Django==1.11.24
jsonfield==2.0.2
numpy==1.21.0
oauthlib==3.1.0
psycopg2
pyjwt==1.7.1
python-dateutil==2.8.0
python-mimeparse==1.6.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
python3-openid==3.1.0
pytz==2019.2
pyyaml==5.1.2
requests-oauthlib==1.2.0
requests==2.22.0
six==1.12.0
django-taggit==0.24.0
django-cors-headers==3.1.1
ebrains_drive==0.4.0
