-e packages/bbp-services-0.0.15
-e packages/hbp-app-python-auth-0.1.0
Django>2
pytz
jsonfield
django-tastypie
django-sslserver  # dev only
psycopg2          # dev only - installed as Debian package in Docker image
numpy             # dev only - installed as Debian package in Docker image
hbp-service-client
django-taggit
social-auth-app-django
social-auth-core
pyyaml