*.log
*.pyc
*.orig
.idea
_build
packages
packages_
*_old
htmlcov
coverage

# javascript files managed by Bower or NPM
job_manager/lib
job_manager/static
resource_manager/lib
resource_manager/static
resource_manager/node_modules
documentation/splash/bower_components
node_modules
model_builder/lib

# ensure these are not tracked by git
*secrets.yml
job_manager/deployment/ssl
resource_manager/deployment/ssl
letsencrypt
ssl
env_local.sh
docker-compose.yml
docker-compose-staging.yml
