<a class="nav pull-right" ui-sref="request_list()">back</a>
<h3><a class="glyphicon glyphicon-list" ui-sref="request_list()"></a> {{project.title}} <small>Collab {{project.collab}}</small></h3>
<p>{{project.owner.displayName}} &lt;{{project.owner.primaryEmail}}&gt;</p>
 <hr/>

<div class="panel panel-default" ng-switch on="project.status">
    <div class="panel-body">
        <div ng-switch-when="in preparation">
            <span class="label label-default">{{project.status}}</span>
        </div>
        <div ng-switch-when="accepted">
            <p><span class="label label-success">{{project.status}}</span></p>
        </div>
        <div ng-switch-when="under review">
            <span class="label label-info">{{project.status}}</span>
            <div class="pull-right" role="group">
                <button class="btn btn-primary btn-sm" type="submit" ng-click="accept()">Accept</button>
                <button class="btn btn-danger btn-sm" type="submit" ng-click="reject()">Reject</button>
            </div>
        </div>
        <div ng-switch-when="submitted">
            <span class="label label-warning">{{project.status}}</span>
            <div class="pull-right" role="group">
                <button class="btn btn-primary btn-sm" type="submit" ng-click="accept()">Accept</button>
                <button class="btn btn-danger btn-sm" type="submit" ng-click="reject()">Reject</button>
            </div>
        </div>
        <div ng-switch-when="rejected">
            <span class="label label-danger">{{project.status}}</span>
        </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title">Abstract</h4></div>
  <div class="panel-body" ng-bind-html="project.abstract|hbpMarkdown">
  </div>
</div>

<div class="panel panel-default" ng-if="project.status=='accepted'">
  <div class="panel-heading"><h4 class="panel-title">Quotas</h4></div>
  <table class="table">
    <thead>
    <tr><th>Platform</th><th>Usage</th><th>Limit</th><th></th></tr>
    </thead>
    <tbody>
    <tr ng-repeat="quota in project.quotas">
        <td>{{quota.platform}}</td>
        <td>{{quota.usage}} {{quota.units}}</td>
        <td>{{quota.limit}} {{quota.units}}</td>
        <td></td>
    </tr>
    <tr>
        <form name="quotaForm">
        <td><select ng-model="new_quota.platform">
            <option value="SpiNNaker" ng-selected="new_quota.platform=='SpiNNaker'">SpiNNaker</option>
            <option value="BrainScaleS" ng-selected="new_quota.platform=='BrainScaleS'">BrainScaleS</option>
            <option value="BrainScaleS-ESS" ng-selected="new_quota.platform=='BrainScaleS-ESS'">BrainScaleS-ESS</option>
            <option value="Spikey" ng-selected="new_quota.platform=='Spikey'">Spikey</option>
        </select></td>
        <td></td>
        <td><input type="number" ng-model="new_quota.limit"> {{getUnits(new_quota)}}</td>
        <td><button class="btn btn-primary btn-sm" type="submit" ng-click="addQuota()">Add</button></td>
        </form>
    </tr>
    </tbody>
</table>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title">Project description</h4></div>
  <div class="panel-body" ng-bind-html="project.description|hbpMarkdown">
  </div>
</div>
