{% extends 'base.html' %}

{% block content %}
    {% verbatim %}
    <h3>Request for access: {{project.title}}</h3>

    <br>

    <div ng-controller="EditProjectCtrl">

        <div ng-show="createMode">To request access to the HBP Neuromorphic Computing Platform for yourself and your collaborators, please fill in the form below.</div>
        <div ng-include="createMode && 'static/instructions.tpl.html'"></div>

        <div ng-switch on="status">
            <div ng-switch-when="in preparation">
            <form name="accessRequestForm">
              <div class="form-group">
                <label for="title">Project title</label>
                <input type="text" class="form-control" id="title" placeholder="title" ng-model="project.title" required>
              </div>
              <div class="form-group">
                <label for="abstract">Abstract</label>
                <textarea rows="5" class="form-control" id="abstract" placeholder="abstract" ng-model="project.abstract"></textarea>
                <p class="help-block">Maximum 500 characters.</p>
              </div>
              <div class="form-group">
                <label for="description">Project description</label>
                <textarea rows="10" class="form-control" id="description" placeholder="not required for test access"  ng-model="project.description"></textarea>
                <p class="help-block">Maximum 10000 characters.</p>
              </div>
              <button class="btn btn-info" ng-click="save_changes()"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;Save changes</button>
              <button class="btn btn-success" ng-click="submit_proposal()"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;Submit proposal</button>
            </form>
            </div>

            <div ng-switch-when="accepted">
                <div class="alert alert-warning" role="alert">Your proposal has been accepted, and cannot be modified.</div>
            </div>
            <div ng-switch-when="under review">
                <div class="alert alert-warning" role="alert">Your proposal is under review, and cannot be modified.</div>
            </div>
            <div ng-switch-when="submitted">
                <div class="alert alert-success" role="alert">Your proposal has been successfully submitted.</div>
            </div>
            <div ng-switch-when="rejected">
                <div class="alert alert-danger" role="alert">
                    Your proposal has been rejected and cannot be modified.
                    To submit a new proposal, add a new instance of the Resource Manager app to the Navigation panel.
                </div>
            </div>
        </div>
        <br>
        <div ng-if="saved" class="alert alert-success" role="alert">
            Saved changes.
        </div>

    </div>
    {% endverbatim %}
{% endblock %}