<p>Three forms of access are available:</p>
<dl>
    <dt>Test access</dt>
    <dd>Only a brief abstract is required explaining why you wish to use the platform.
        It is not necessary to fill in the "Project description" field.
        No previous experience with the platform is required.
        A fixed quota of 5000 core-hours (for the SpiNNaker system)
        and/or 0.1 wafer-hours (for the BrainScaleS system) will be allocated,
        together with temporary storage of 1 GB.</dd>

    <dt>Preparatory access</dt>
    <dd>Only a short technical motivation is required.
        Previous experience with the platform (through a test access) is expected.
        A fixed quota of 500000 core-hours (for the SpiNNaker system)
        and/or 10 wafer-hours (for the BrainScaleS system) will be allocated,
        subject to a brief technical review,
        together with temporary storage of 10 GB.</dd>

    <dt>Project access</dt>
    <dd>For projects requiring more than the test/preparatory quotas, a scientific motivation
        of about one page should be provided, and a request for resources (in core-hours,
        wafer-hours and/or GB of storage) should be specified, and justified with respect to the
        project's scientific goals. This proposal will receive both scientific and technical
        reviews.</dd>
</dl>

<p>Do not forget to specify which type of access you are requesting,
    and which of the Neuromorphic Computing Systems ("BrainScaleS", "Spikey"
    and/or "SpiNNaker") you wish to use.</p>

<p>Access is granted on a per-collab basis, not per-person. All members of this collab will
   be able to make use of the quota.</p>