<h3>List of access requests</h3>

<ul class="nav nav-pills">
  <li role="presentation"><button ng-class="css['under review']" ng-click="setTab('under review')">Under review</button></li>
  <li role="presentation"><button ng-class="css['accepted']" ng-click="setTab('accepted')">Accepted</button></li>
  <li role="presentation"><button ng-class="css['rejected']" ng-click="setTab('rejected')">Rejected</button></li>
  <li role="presentation"><button ng-class="css['in preparation']" ng-click="setTab('in preparation')">In preparation</button></li>
</ul>

<div ng-show="access_requests[selectedTab].length">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th><th>Title</th><th>Status</th><th>Quotas</th><th>Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in access_requests[selectedTab]">
            <td style="width: 18px"><a class="glyphicon glyphicon-pencil" ui-sref="request_detail({eId:project.context})"></a></td>
            <td>{{project.title}}</td>
            <td>{{project.status}}</td>
            <td>{{project.quotas.length}}</td>
            <td>{{project.owner.displayName}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-hide="access_requests[selectedTab].length" style="margin-top:50px;"><p>There are no requests with status "{{selectedTab}}".</p></div>

<div class="row-fluid">
    <div class="col-md-12">
    <p class="subdued">Build: {{build_info.colour }} {{build_info.git}} {{ build_info.date }}</p>
</div>