<div class="error-dialog panel panel-danger">
  <div class="panel-heading">
    <h4>{{vm.error.type}}</h4>
  </div>
  <div class="panel-body">
    <p>{{vm.error.message}}</p>
  </div>
  <div class="panel-footer">
    <div class="">
      <button type="button" ng-click="$close(true)" class="btn btn-primary">
        <span class="glyphicon glyphicon-remove"></span>
        Close
      </button>
      <button type="button" class="btn btn-default pull-right"
              ng-click="isErrorSourceDisplayed = !isErrorSourceDisplayed">
        {{isErrorSourceDisplayed ? 'Hide' : 'Show'}} scary details <span class="caret"></span>
      </button>
    </div>
    <div uib-collapse="!isErrorSourceDisplayed">
      <h5>Error Type</h5>
      <pre>{{vm.error.type}}</pre>
      <h6>Error Code</h6>
      <pre>{{vm.error.code}}</pre>
      <h6>Message</h6>
      <pre>{{vm.error.message}}</pre>
      <div ng-if="vm.error.data">
        <h6>Data</h6>
        <pre>{{vm.error.data}}</pre>
      </div>
      <div>
        <h6>Stack Trace</h6>
        <pre>{{vm.error.stack}}</pre>
      </div>
    </div>
  </div>
</div>
