<div class="panel panel-danger">
  <div class="panel-heading">
    <h4>{{vm.error.type}}</h4>
  </div>
  <div class="panel-body">
    <p>{{vm.error.message}}</p>
    <div>
      <button type="button" class="btn btn-default"
              ng-click="isErrorSourceCollapsed = !isErrorSourceCollapsed">
        Show scary details
      </button>
      <pre uib-collapse="isErrorSourceCollapsed">{{vm.error|json}}</pre>
    </div>
  </div>
  <div class="panel-footer">
    <button type="button" ng-click="$close(true)">
      <span class="close">&times;</span>
      Close</button>
  </div>
</div>
