<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<img src="https://www.hbpneuromorphic.eu/img/banner.jpg" alt="banner" style="width: 100%;">

<h3>Getting started with the HBP Neuromorphic Computing Platform</h3>

<ol>
    <li style="margin-top: 10px;"><b>Add team members</b> to your Collab using the <span style="color: blue;">"Team"</span> link in the navigation bar on the left.
        Only members of the team will be able to launch simulations.
        If this is a public collab, anyone with an HBP account will be able to view the results.
        If it is a private collab, only team members will be able to view results.</li>
    <li style="margin-top: 10px;"><b>Read the Guidebook</b>.</li>
    <li style="margin-top: 10px;"><b>Request access to the platform</b>, using the <span style="color: blue;">"Resource Manager"</span> link.</li>
    <li style="margin-top: 10px;"><b>Run simulations</b>, using the <span style="color: blue;">"Job Manager"</span> link.</li>
</ol>

<p style="margin-top: 20px;">You can now remove or edit this "Overview" page, and replace it with documentation for your project.</p>

</body>
</html>
