{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Neuromorphic Platform Interface</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    {# Bower Dependencies #}
    <link rel="stylesheet" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'nmpi/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'angular-hbp-collaboratory/angular-hbp-collaboratory.css' %}">

    <base href="/">
</head>
<body>
    <div>
        <div ng-show="!with_ctx" style="padding-bottom:30px;">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <img src="{% static 'nmpi/img/hbp_diamond_120.png' %}" alt="Human Brain Project" style="height:45px; padding: 5px;">
                        <span style="color:white; font-size:15px; font-weight:bold;">Neuromorphic Computing Platform</span>
                    </div>
                </div>
            </div>
        </div>

        <ui-view>
            <i>Some content will load here. Refresh the page if nothing loads within a few seconds.</i>
        </ui-view>
    </div>

    {# Bower Dependencies #}

    <script type="text/javascript" src="{% static 'hello/dist/hello.js' %}"></script>
    <script type="text/javascript" src="{% static 'hello/dist/hello.all.js' %}"></script>

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lodash/lodash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'hbp-collaboratory-theme/dist/javascripts/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-deferred-bootstrap/angular-deferred-bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-bbp-config/angular-bbp-config.js' %}"></script>
    <script type="text/javascript" src="{% static 'bbp-oidc-client/angular-bbp-oidc-client.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'marked-hbp/marked.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-common/dist/angular-hbp-common.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/angular-hbp-collaboratory.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/app/app.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/app/app.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/app/auth.provider.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/app/authHttp.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/error/error.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/error/error.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-uuid4/angular-uuid4.js' %}"></script>

    <script type="text/javascript" src="{% static 'codemirror/lib/codemirror.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-deferred-bootstrap/angular-deferred-bootstrap.js' %}"></script>

    <script type="text/javascript" src="{% static 'moment/moment.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-moment/angular-moment.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/env/env.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/env/env.provider.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/automator/automator.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/automator/automator.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/collab/collab.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/collab/collab.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/collab/collab.model.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/collab/clb-collab-app.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/collab/collab-nav.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/collab/collab-team-role.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/collab/collab-team.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/collab/context.model.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/collab/context.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/lodash/lodash.module.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/identity/identity.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/identity/group.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/identity/user.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/identity/util.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/rest/rest.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/rest/pagination.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/storage/storage.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/storage/storage.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ctx-data/clb-ctx-data.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ctx-data/clb-ctx-data.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/stream/stream.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/stream/resource-locator.provider.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/stream/stream.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-dialog/ui-dialog.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-dialog/confirm.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-error/ui-error.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-error/error-dialog.factory.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-error/error-message.directive.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-form/ui-form.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-form/form-control-focus.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-form/form-group-state.directive.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-identity/ui-identity.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-identity/user-avatar.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-identity/usercard-popover.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-identity/usercard-popover.tpl.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-identity/usercard.directive.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-loading/ui-loading.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-loading/loading.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-loading/perform-action.directive.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-storage/ui-storage.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-storage/file-browser-folder.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-storage/file-browser-path.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-storage/file-browser-tooltip.tpl.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-storage/file-browser.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-storage/file-upload.directive.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-stream/ui-stream.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-stream/activity.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-stream/feed.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-hbp-collaboratory/src/ui-stream/ui-stream.module.js' %}"></script>

    {# App Specific #}
    <script type="text/javascript" src="{% static 'nmpi/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'nmpi/dataitem/model.js' %}"></script>
    <script type="text/javascript" src="{% static 'nmpi/collab/model.js' %}"></script>
    <script type="text/javascript" src="{% static 'nmpi/user/model.js' %}"></script>
    <script type="text/javascript" src="{% static 'nmpi/queue/model.js' %}"></script>
    <script type="text/javascript" src="{% static 'nmpi/queue/controllers.js' %}"></script>

</body>
</html>