
<div class="container-fluid">

  <div ng-show="msg.show" class="alert alert-{{msg.css}} alert-dismissible">
    <button type="button" class="close" ng-click="msg.show=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{msg.text}}
  </div>

  <div class="row-fluid">

    <div class="">

      <h3 ng-if="with_ctx"><a class="glyphicon glyphicon-list" href="app/#/queue?ctx={{ctx}}" ng-click="msg.show=false"></a> / Job {{job.id}}</h3>
      <h3 ng-if="!with_ctx"><a class="glyphicon glyphicon-list" href="app/#/queue" ng-click="msg.show=false"></a> / Job {{job.id}}</h3>
      <hr/>
      <span style="float:right; position: relative; bottom:50px">
        <a class="nav" href="app/#/queue?ctx={{ctx}}" ng-click="msg.show=false" ng-if="with_ctx">back</a>
        <a class="nav" href="app/#/queue" ng-click="msg.show=false" ng-if="!with_ctx">back</a>
      </span>
      <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Status</dt><dd><span ng-class="{'label label-info':job.status=='submitted', 'label label-success':job.status=='finished', 'label label-warning':job.status=='error'}">{{job.status}}</span></dd>
        <dt>Submitted</dt><dd>{{job.timestamp_submission | date : "yyyy-MM-dd HH:mm:ss" }}</dd>
        <dt data-ng-show="job.status != 'submitted'">Completed</dt><dd data-ng-show="job.status != 'submitted'">{{job.timestamp_completion | date : "yyyy-MM-dd HH:mm:ss" }}</dd>
        <dt>Collaboratory</dt><dd>{{job.collab.title}}</dd>
        <dt>Platform</dt><dd>{{job.hardware_platform}}</dd>
      </dl>
      </div>
    </div>
  </div>

  <div class="panel panel-default" ng-show="job.output_data.length">
    <div class="panel-heading">Output files</div>
    <div class="panel-body">
      <div class="pull-right">
      <button type="button" class="btn btn-primary btn-sm" ng-click="copyData('collab')">Copy to Collab storage</button>&nbsp;
      <button type="button" class="btn btn-primary btn-sm" ng-click="showHPCsites=!showHPCsites">Copy to HPC storage</button>
      </div>
      <div ng-show="showHPCsites">
        <form class="form-inline">
        <p class="help-block">Select the site you wish to copy data to.</p>
        <select ng-model="hpcSite" class="form-control">
          <option value="JURECA" ng-selected="hpcSite=='JURECA'">JURECA</option>
          <option value="JUQUEEN" ng-selected="hpcSite=='JUQUEEN'">JUQUEEN</option>
          <option value="VIZ_CSCS" ng-selected="hpcSite=='VIZ_CSCS'">VIZ_CSCS</option>
          <option value="GALILEO" ng-selected="hpcSite=='GALILEO'">GALILEO</option>
          <option value="BGQ_CSCS" ng-selected="hpcSite=='BGQ_CSCS'">BGQ_CSCS</option>
          <option value="KIT" ng-selected="hpcSite=='KIT'">KIT</option>
          <option value="MARE_NOSTRUM" ng-selected="hpcSite=='MARE_NOSTRUM'">MARE_NOSTRUM</option>
          <option value="PICO" ng-selected="hpcSite=='PICO'">PICO</option>
          <option value="FERMI" ng-selected="hpcSite=='FERMI'">FERMI</option>
        </select>
        <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="copyData(hpcSite)">Copy</button>
        </form>
        <p class="help-block">Copying data to an HPC site requires that you have an account for that site. See the <a href="https://collab.humanbrainproject.eu/#/collab/264/nav/1973" target="_blank">HPC Platform Collab</a> for more information.</p>
      </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="file in job.output_data">
          <a href="{{file.url}}" target="_blank"><span class="label label-default">{{file.url}}</span></a><br/>
          <img ng-src="{{file.url}}" err-src="queue/document.png" style="margin-top:5px">
        </li>
    </ul>
    <div class="panel-footer"><small>These files are in temporary storage, and may be deleted after 3 months. For longer-term preservation or further analysis, we recommend copying the files to the Collab storage.</small></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Experiment</div>
    <div class="panel-body">
      <pre>{{job.code}}</pre>
    </div>
  </div>

  <div class="panel panel-default" ng-show="job.command">
    <div class="panel-heading">Command</div>
    <div class="panel-body">
      <pre>{{job.command}}</pre>
    </div>
  </div>

  <div class="panel panel-default" ng-show="job.input_data.length">
    <div class="panel-heading">Input files</div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="file in job.input_data">
        <a href="{{file.url}}" target="_blank"><span class="label label-default">{{file.url}}</span></a><br/>
        <img ng-src="{{file.url}}" err-src="queue/document.png" style="margin-top:5px">
      </li>
    </ul>
  </div>

  <div class="panel panel-default"  ng-show="job.hardware_config">
    <div class="panel-heading">Hardware config</div>
    <div class="panel-body">
      <pre>{{job.hardware_config}}</pre>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Log
      <button type="button" class="btn btn-default btn-xs btn-link pull-right" ng-click="getLog()">
  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <pre>{{log.content}}</pre>
    </div>
  </div>

  <span style="float:right; ">
    <a class="nav" href="app/#/queue?ctx={{ctx}}" ng-click="msg.show=false" ng-if="with_ctx">back</a>
    <a class="nav" href="app/#/queue" ng-click="msg.show=false" ng-if="!with_ctx">back</a>
  </span>

</div>

<!-- {"experiment_description": "import pyNN.nest as sim\n\nsim.setup()\n\np = sim.Population(100000, sim.IF_cond_exp())\n\nsim.run(10.0)\n\np.write_data(\"output_data100000.pkl\")\n\nsim.end()\n", "hardware_config": "nest", "hardware_platform": "localhost", "id": 2, "input_data": [{"resource_uri": "", "uri": "http://photoblog.estreme.net/images/20100307002550_20100220-005.jpg"}], "log": " ", "output_data": [{"resource_uri": "", "uri": "/home/do/localhost/nmpi/job_2/job_2.zip"}], "project": "/api/v1/project/1", "resource_uri": "/api/v1/queue/2", "status": "submitted", "timestamp_completion": "2014-07-10T13:49:24", "timestamp_submission": "2014-07-10T13:49:15", "user": "/api/v1/user/do"} -->
