urllib3>=2.0
uvicorn>=0.34
fastapi>=0.115
itsdangerous>=2.2
Authlib>=1.5
httpx>=0.28
databases[postgresql]>=0.9
sqlalchemy>=2.0
pytz>=2024.1
requests>=2.32
numpy>=2.2
python-slugify>=8.0
ebrains-drive>=0.6
PyYAML>=6.0
